body {
    background: #e0e0e0;
}

.mybar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
}

.mainbody {
    margin-left: 20%;
    position: relative;
    top: 30px;
    margin-bottom: 100px;
}

.header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: white;
    width: max-content;
    height: 55px;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 40px;
    padding-left: 50px;
    font-style: italic;
}

.firstt {
    padding-top: 20px;
}

.text {
    margin-left: 50px;
    width: 90%;
}