{% extends 'tables.html' %}

{% block painted %}
{% if type == 0 %}
    <p class="text" style="color: red">Отрисовка не выполнена. Вы ввели не число.</p>
{% elif type == 1 %}
    <p class="text" style="color: red">Отрисовка не выполнена. Введённое число больше 200.</p>
{% else %}
    <form class="text" method="get" action="{{ url_for('static', filename=link) }}">
           <button type="submit" class="btn btn-success">Скачать картинку!</button>
        </form>
    <br>
    <table class="table-bordered" style="margin-left: 50px;">
        <thead>
        <tr>
            <th scope="col" style="padding: 10px"></th>
            {% for i in order %}
                <th scope="col" style="padding: 10px">{{ i }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for i in order %}
                <tr>
                    <th scope="row" style="padding: 10px">{{ i }}</th>
                    {% for j in data[i] %}
                        <td style="padding: 10px">{{ j }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}